/* Pon tu código css aqui */
.contenedor { 
    border:1px solid gray;
    background-color: white;
    }
 .clearfix:before, .clearfix:after{
    content:"";
    display: table;
 }
.clearfix:after {
	clear:both;
}

#yellow{
	border:1px solid yellow; 
    background-color: yellow;
    width: 25%;
    height: 100px;
    display: block;
    float: left;
    
}   
#blue{
	border:1px solid blue; 
    background-color: blue;
    width: 25%;
    height: 100px;
    display: block;
    float: left;
}
#red{
	border:1px solid red; 
    background-color: red;
    width: 25%;
    height: 100px;
    display: block;
    float: left;
}